Semester_3/Datenmanagement/XML11_BU/beispiele/kap03/Uebung2.dtd

<!ELEMENT Seminar (Name, Datum, Ort, Vormittags, Nachmittags)>
        <!ELEMENT ALBUM (AUTOR, (INTERPRET | GRUPPE)+, TITEL, LIED*)>
        <!ELEMENT AUTOR		(#PCDATA)>
        <!ELEMENT INTERPRET	(#PCDATA)>
        <!ELEMENT GRUPPE		(#PCDATA)>
        <!ELEMENT TITEL		(#PCDATA)>
        <!ELEMENT LIED		(#PCDATA)>