Semester_3/Datenmanagement/XML11_BU/beispiele/kap08/mixed.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:herdt="http://www.herdt.com/">
	<xs:element name="Mix">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Kommentar">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="Datum" type="xs:date"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
