Semester_3/Datenmanagement/XML11_BU/beispiele/kap08/sequence.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:herdt="http://www.herdt.com">
	<xs:element name="Adresse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Strasse" type="xs:string"/>
				<xs:element name="Ort" type="xs:string"/>
				<xs:element name="PLZ" type="PLZTyp"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="PLZTyp">
		<xs:restriction base="xs:integer">
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
