Semester_3/Datenmanagement/XML11_BU/loesung/Kap04/kfz.dtd

  <!ELEMENT AUTO (KFZ+)>
  <!ELEMENT KFZ (HERSTELLER, MODELL, (LEERGEWICHT, ZYLINDER?, HUBRAUM, LEISTUNG, HOECHSTGESCHWINDIGKEIT, VON0AUF100)?)>

  <!ELEMENT HERSTELLER  (#PCDATA)>
  <!ELEMENT MODELL      (#PCDATA)>
  <!ELEMENT LEERGEWICHT (#PCDATA)>
  <!ELEMENT ZYLINDER    (#PCDATA)>
  <!ELEMENT HUBRAUM     (#PCDATA)>
  <!ELEMENT LEISTUNG    (#PCDATA)>
  <!ELEMENT HOECHSTGESCHWINDIGKEIT (#PCDATA)>
  <!ELEMENT VON0AUF100  (#PCDATA)>
  
