Semester_3/Datenmanagement/XML11_BU/beispiele/kap07/plz+vorwahl.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="PLZ" type="PLZTyp" />
<xs:simpleType name="PLZTyp">
  <xs:restriction base="xs:string">
    <xs:length value="5" />
  </xs:restriction>
</xs:simpleType>

<xs:element name="Vorwahl">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
</xs:element>

</xs:schema>

